# Node modules
node_modules/

# Local Next folder
.next/

# Local Netlify folder
.netlify

# Ignore output functions package
/lambdas/functions_out/ 

# Your envinronment variables file. NEVER COMMIT IT
.env
.faunarc

# Cypress helper folders
/cypress/screenshots/
/cypress/videos/

# Cypress code coverage
/__coverage__/